<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>Instagames</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- JQuery -->
	<script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.bundle.min.js"></script>
	<!-- personal css -->
	<link href="css/style.css" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div style="width: 140px; float: left; margin-left: -4%">
				<img alt="Instagram Clone - Versão WEB" style="width: 100%; height: 100%" src="images/controller.jpeg" class="logo2">
			</div>
			<div style="width: 220px; float: left">
				<img alt="Instagram Clone - Versão WEB" style="width: 100%; height: 100%" src="images/logo_games.png" class="logo2">
			</div>
			<br>
			<div style="width: 220px; float: right; margin-top: 1%">
				<div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="true">
							Olá,
							<%= user %>
								<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a href="/publish">Publicar</a>
							</li>
							<li>
								<a href="/about">Sobre</a>
							</li>
							<li>
								<a href="home/deslogar">Desconectar</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>


	<div class="container" id="container_form">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4>
					<strong>Jogos</strong>
				</h4>
			</div>
			<%for(var i in posts){%>

				<div class="panel-body">
					<form>
						<div class="form-group">
							<h3>
								<span class="label label-default">
									<%=posts[i].platform%>
								</span>
								&nbsp;&nbsp;
								<strong>
									<%=posts[i].title%>
								</strong>
							</h3>
							<p></p>
						</div>

						<div class="form-group">
							<div>
								<img style="height: 50%; width: 100%; " src="<%=posts[i].imageURL%>">
							</div>
							<br>

							<p style="font-style: italic; font-weight: bold">
								<%=posts[i].description%>
							</p>

							<div>
								<label>Por:</label>
								<span>
									<%=posts[i].name%> &nbsp;&nbsp;
										<label>Em: </label>
										<%=posts[i].createdAt%>
								</span>
							</div>
						</div>
					</form>
					<form method="POST" action="/home/feedback">
						<input type="hidden" name="_id" id="_id" value="<%=posts[i]._id%>">
						<div class="form-group">
							<button type="submit" name="feedback" id="feedback" value="liked" class="btn btn-success" aria-label="Left Align">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
									<%=posts[i].likes%>
								</span>
							</button>

							<button type="submit" name="feedback" id="feedback" value="unliked" class="btn btn-danger" aria-label="Left Align">
								<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">
									<%=posts[i].dislikes%>
								</span>
							</button>
						</div>
					</form>
					<form method="POST" action="/home/comment">
						<input type="hidden" name="_id" id="_id" value="<%=posts[i]._id%>">
						<!--Comentar-->
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="comment" id="comment" class="form-control" placeholder="Comentar">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Salvar</button>
								</span>
							</div>
							<!-- /input-group -->
						</div>
					</form>
					<!---->
					<%for(var j in posts[i].comments){%>
						<!--Comentados-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>
									<%=posts[i].comments[j].name%>
								</strong>
								<span style="font-style: italic">
									<%=posts[i].comments[j].createdAt%>
								</span>
							</div>
							<div class="panel-body">
								<span>
									<%=posts[i].comments[j].comment%>
								</span>
							</div>
						</div>
						<%}%>
				</div>
				<%}%>
		</div>
	</div>
</body>

</html>